@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background: url('https://wallpapercave.com/wp/wp2552767.jpg');
    background-size:cover;
}
* {
    margin: 0;
    padding: 0;
    float: left;
}

#jutsusTable {
    width: 60px;
    overflow: hidden;
}

img{
    width: 120px;
}

#jutusTable{
    margin-right: 30vw;
    background-color: #ca6c01;
    height: 350px;
    width: 300px;
    text-align: center;
    color: white;
    font-size: 20px;
}


i {
    margin-right: 10px;
}/* ---------horizontal-navbar-menu-----------*/
#navbar-animmenu {
    background: #000000;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 10px 0px;
  width: 100%;
}
#navbar-animmenu ul{
    padding: 0px;
    margin: 0px;
  
}

#navbar-animmenu ul li a i{
    margin-right: 10px;
}

#navbar-animmenu li {
    list-style-type: none;
    float: left;
}

#navbar-animmenu ul li a{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbar-animmenu>ul>li.active>a{
    color: #ca6c01;
    background-color: transparent;
    transition: all 0.7s;
}


.game-button {
    font-size: 10px;
    appearance: none;
    height: 30px;
    width: 170px;
    display: table;
    font-weight: bold;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    border-radius: 2em;
    cursor: pointer;
}